<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./style/cp.css" />
</head>
<body>
<div class="inner-content" id="title_page">
    <h1><span class="nav-logo">c<span class="nav-logo-compose">⚬</span>mp<span class="nav-logo-compose">⚬</span>sing pr<span class="nav-logo-compose">⚬</span>grams</span></h1>
    <h3 class="title_recipient">For Gina Giang</p>
    <h3 class="title_sub">PDF converted from <a href="https://composingprograms.com">Composing Programs</a> online text using <a href="https://github.com/xiaodaw/ComposingPrograms-to-PDF">CPtoPDF</a> by Xiaoda Wang.</p>
    <div class="wrap">
            <footer id="contentinfo" class="body">
                Composing Programs by <a href="http://www.denero.org">John
                DeNero</a>, based on the textbook <a
                href="http://mitpress.mit.edu/sicp/">Structure and
                Interpretation of Computer Programs</a> by Harold Abelson and
                Gerald Jay Sussman, is licensed under a <a rel="license"
                href="http://creativecommons.org/licenses/by-sa/3.0/">Creative
                Commons Attribution-ShareAlike 3.0 Unported License</a>.
            </footer><!-- /#contentinfo -->
    </div>
</div>
